.color-tertriary {
    background-color: #CFF1EF;
}

.color-light {
    background-color: #FFFFFF;
}

.color-secondary {
    background-color: #FBCFFC;
}

.color-primary {
    background-color: #BE79DF;
}

a{
    color: #0090c9;
}